//imported all partial fies required
@import '../variable', '../grid';

/********************************* Style for left panel ********************************/
.side-panel-bg {
    height: 100%;
    width: 250px;;
    background: $sidebar-bg;
    position: fixed;
    top: 0;
    left: 0;

    h2 {
        color: $font-color-white;
        padding: 50px 0;
        margin: 0;
        text-align: center;
    }
}

.form-controls {
    padding: 18px;
    font-size: $font-size-21px;
    color: $form-control-color;
    display: block;
    cursor: move;
    text-align: center;
}
/********************************* Style for left panel ********************************/

/********************************* Style for right panel and form ********************************/
h1 {
    color: $sidebar-bg;
    border: 1px dashed grey;
    padding: 25px;
    margin: 10px 10px 20px 30px;
    text-align: center;
}

.form-bg {
    background: $form-background;
    border-radius: 4px;
    width: 500px;
    margin-left: 30%;
    min-height: 60px;
    box-shadow: $hover-shadow;
}
  
.form-list {
    padding: 15px 10px;
    color: $sidebar-bg;
    display: flex;
    cursor: move;
    background: $form-background;
}

input {
    height: 35px;
}
input[type="text"],[type="number"],[type="email"], textarea {
    font-size: $font-size-15px;
    padding-left: 10px;
    box-shadow: $form-field-shadow;
    border-color: $form-field-border-color;
    border-radius: 6px;
    border-width: 2px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    .radio-button { margin: 5px; }
}

label { line-height: 30px; }

.form-button {
    width: 80px;
    background: #303a45;
    border-radius: 8px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;

    &:hover{
        box-shadow: $form-field-shadow;
    }
}

.update-button {
    @extend .form-button;
    padding: 8px;
    margin-left: 20px;
}

.checkbox {
    margin: 12px 0;
    .checkbox-margin { margin: 0 10px; }
}
ul {
    list-style-type: none;
    margin-top: 4px;
  }

input[type="checkbox"] {
    height: 14px;
    position: relative;
    right: 8.4%;
}

.submit-button {
    @extend .form-button;
    padding: 10%;
}

/********************************* Style for right panel and form ********************************/

/********************* Style for smooth transition between drag and drop list ********************/
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder { opacity: 0; }
.cdk-drag-animating { transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); }
.form-list:last-child { border: none; }
.form-controls:last-child { border: none; }
.form-bg.cdk-drop-list-dragging .form-list:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.side-panel.cdk-drop-list-dragging .form-controls:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/********************* Style for smooth transition between drag and drop list ********************/

/********************************* Responsiveness ********************************/
@media only screen and (min-width: 1681px) and (max-width: 1920px) {
    h2 { 
        
        &:after {
            padding-top: 1.3%;
            width: 4%;
            left: 48%; 
        }
    } 
    .title-padding {
        margin: 0.5% 0 0 6%;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1680px) {
    h2 { 
        
        &:after {
            padding-top: 1.6%;
            width: 4%;
            left: 48%; 
        }
    } 
    .title-padding {
        margin: 0.5% 0 0 6%;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    h2 { 
        
        &:after {
            padding-top: 2.3%;
        }
    } 
    .title-padding {
        margin: 0.5% 0 0 6%;
    }
}
@media (max-width: 1024px) {
    h2 { 
        &:after {
            padding-top: 3.8%;
            width: 12%;
            left: 44%;
        }
    }
    .border-box {
        font-size: small;
        text-align: center;
    }
    .description { 
        line-height: 15px;
     }
    .title-padding {
        margin: 0.5% 0 0 6%;
    }
    footer {
        .border-box {
            margin: 0;
            padding: 0 8%;
        }
        //class for moving content of second column towards left
        .content-ml { margin-left: 0; }
        p { 
            line-height: 12px;
            font-size: smaller;
        }
        ul { 
            line-height: 12px; 
            margin-left: -40px;
            font-size: smaller;
        }
    } 
    .copyright {
        font-size: smaller;
    }    
}
@media (max-width: 768px) {
    h2 { 
        &:after {
            padding-top: 3.8%;
            width: 12%;
            left: 44%;
        }
    }
    .border-box {
        font-size: small;
        text-align: center;
    }
    .description { 
        line-height: 15px;
     }
    .testimonial-img {
        width: 30px;
        height: 30px;
    }
    
    footer {
        .border-box {
            margin: 0;
            padding: 0 8%;
        }
        //class for moving content of second column towards left
        .content-ml { margin-left: 0; }
        p { 
            line-height: 12px;
            
        }
        ul { 
            line-height: 12px; 
            margin-left: -40px;
            
        }
    } 
    .copyright {
        font-size: smaller;
    }    
}
@media only screen and (min-width: 540px) and (max-width: 767px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
    
    h2 { 
        &:after {
            padding-top: 5.8%;
            width: 12%;
            left: 44%;
        }
    }
    .border-box {
        font-size: small;
        text-align: center;
    }
    .description { 
        line-height: 15px;
     }
    .testimonial-img {
        width: 30px;
        height: 30px;
    }
    .title-padding {
        margin: 1.5% 0 0 7%;
        
        
    }
    footer {
        .border-box {
            margin: 0;
            padding: 0 8%;
        }
        //class for moving content of second column towards left
        .content-ml { margin-left: 0; }
        p { 
            line-height: 12px;
            
        }
        ul { 
            line-height: 12px; 
            margin-left: -40px;
            
        }
    } 
    .copyright {
        font-size: smaller;
    }    
}
@media only screen and  (min-width: 481px) and (max-width: 539px) {
    
    h2 { 
        
        &:after {
            padding-top: 5.8%;
            width: 12%;
            left: 44%;
        }
    } 
    .title-padding {
        margin: 1.5% 0 0 7%;
       
        
    }
}
@media only screen and  (min-width: 361px) and (max-width: 480px) {
   
    h2 { 
        
        &:after {
            padding-top: 5.8%;
            width: 12%;
            left: 44%;
        }
    }
    .border-box {
        font-size: xx-small;
        text-align: center;
    }
    .description { 
        line-height: 12px;
        padding: 11%;
     }
    .testimonial-img {
        width: 30px;
        height: 30px;
    }
    .title-padding {
        margin: 1.5% 0 0 10%;
       
        
    }
    footer {
        .border-box {
            margin: 0;
            padding: 0 8%;
        }
        //class for moving content of second column towards left
        .content-ml { margin-left: 0; }
        p { 
            line-height: 12px;
            
        }
        ul { 
            line-height: 12px; 
            margin-left: -40px;
            
        }
    } 
    .copyright {
        font-size: smaller;
    }    
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
    .side-panel-bg {
        width: 100%;
        height: 277%;
        position: relative;
        h2 { 
            font-size: $font-size-larger;
            padding: 30px 0; 
        }
    }
    .form-controls { font-size: $font-size-17px; }
    h1 {
        padding: 15px;
        margin: 10px 10px 20px 10px;
        font-size: larger;
    }
    .form-bg {
        border-radius: 4px;
        width: 500px;
        margin: 0 40px;
        min-height: 60px;
    }
}
/********************************* Responsiveness ********************************/