//imported all partial fies required
@import '../variable', '../grid';

/********************************* Style for left panel ********************************/
.side-panel-bg {
    height: 100%;
    width: 250px;;
    background: $sidebar-bg;
    position: fixed;
    top: 0;
    left: 0;

    h2 {
        color: $font-color-white;
        padding: 50px 0;
        margin: 0;
        text-align: center;
        font-size: $font-size-28px;
    }
}

.form-controls {
    padding: 18px;
    font-size: $font-size-22px;
    color: $form-control-color;
    display: block;
    cursor: move;
    text-align: center;
}
/********************************* Style for left panel ********************************/

/********************************* Style for right panel and form ********************************/
.header-tag {
    color: $sidebar-bg;
    border: 1px dashed grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 19px 10px 20px 30px;
}

.form-bg {
    background: $form-background;
    border-radius: 4px;
    width: 500px;
    margin: auto;
    min-height: 60px;
    box-shadow: $hover-shadow;
}
  
.form-list {
    padding: 15px 10px;
    color: $sidebar-bg;
    display: flex;
    cursor: move;
    background: $form-background;
}

input {
    height: 35px;
}
input[type="text"],[type="number"],[type="email"], textarea {
    font-size: $font-size-15px;
    padding-left: 10px;
    box-shadow: $form-field-shadow;
    border-color: $form-field-border-color;
    border-radius: 6px;
    border-width: 2px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    .radio-button { margin: 5px; }
}

label { line-height: 30px; }

.form-button {
    width: 80px;
    background: #303a45;
    border-radius: 8px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;

    &:hover{
        box-shadow: $form-field-shadow;
    }
}

.update-button {
    @extend .form-button;
    padding: 8px;
    margin-left: 20px;
}

.highlight { color: $span-error-color; }
.checkbox {
    margin: 12px 0;
    .checkbox-margin { margin: 0 10px; }
}
ul {
    list-style-type: none;
    margin-top: 4px;
}

input[type="checkbox"] {
    height: 14px;
    position: relative;
    right: 8.4%;
}
.error-message { 
    color: $span-error-color; 
    font-size: $font-size-12px;
}
.submit-button {
    @extend .form-button;
    padding: 10%;
}

/********************************* Style for right panel and form ********************************/

/********************* Style for smooth transition between drag and drop list ********************/
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder { opacity: 0; }
.cdk-drag-animating { transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); }
.form-list:last-child { border: none; }
.form-controls:last-child { border: none; }
.form-bg.cdk-drop-list-dragging .form-list:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.side-panel.cdk-drop-list-dragging .form-controls:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/********************* Style for smooth transition between drag and drop list ********************/

/********************************* Responsiveness ********************************/
@media only screen and (min-width: 1681px) and (max-width: 1920px) {
    .side-panel-bg {
        width: 100%;
        height: 242%;
        position: relative;
    }
    .header-tag {
        margin: 10px 10px 20px;
    }
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
    .side-panel-bg {
        width: 100%;
        height: 242%;
        position: relative;
    }
    .header-tag {
        margin: 10px 10px 20px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1365px) {
    .side-panel-bg {
        width: 100%;
        height: 242%;
        position: relative;
    }
    .header-tag {
        margin: 10px 10px 20px;
    }
}
@media (max-width: 1024px) {
    .side-panel-bg {
        width: 100%;
        height: 260%;
        position: relative;
    }
    .header-tag { margin: 23px 10px 20px; }
    .form-bg { width: 450px; }
}
@media (max-width: 768px) {
    .side-panel-bg {
        width: 100%;
        height: 227%;
        position: relative;
        h2 { padding: 30px 0; }
    }
    .header-tag { 
        font-size: $font-size-14px;
        margin: 12px 10px 20px;
     }
    .form-bg {
        min-height: 50px;
        width: 350px;
    }
}
@media only screen and (min-width: 540px) and (max-width: 767px) {
    .side-panel-bg {
        width: 100%;
        height: 173%;
        position: relative;
        h2 { 
            font-size: $font-size-22px;
            padding: 30px 0; 
        }
    }
    .form-controls { font-size: $font-size-17px; }
    .header-tag {
        margin: 10px 10px 20px;
        font-size: $font-size-12px;
    }
    .form-bg {
        min-height: 40px;
        width: 250px;
    }
}
@media only screen and  (min-width: 481px) and (max-width: 539px) {
    .side-panel-bg {
        width: 100%;
        height: 173%;
        position: relative;
        h2 { 
            font-size: $font-size-22px;
            padding: 30px 0; 
        }
    }
    .form-controls { font-size: $font-size-17px; }
    .header-tag {
        margin: 11px 10px 20px;
        font-size: $font-size-12px;
    }
    .form-bg {
        min-height: 40px;
        width: 250px;
    }
}
@media only screen and  (min-width: 361px) and (max-width: 480px) {
    .side-panel-bg {
        width: 100%;
        height: 184%;
        position: relative;
        h2 { 
            font-size: $font-size-17px;
            padding: 30px 0; 
        }
    }
    .form-controls { font-size: $font-size-14px; }
    .header-tag {
        margin: 16px 10px 20px;
        font-size: $font-size-9px;
    }
    .form-bg {
        min-height: 40px;
        width: 190px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
    .side-panel-bg {
        width: 100%;
        height: 173%;
        position: relative;
        h2 { 
            font-size: $font-size-15px;
            padding: 30px 0; 
        }
    }
    .form-controls { font-size: $font-size-12px; }
    .header-tag {
        margin: 18px 10px 20px;
        font-size: $font-size-8px;
    }
    .form-bg {
        min-height: 40px;
        width: 150px;
    }
}
/********************************* Responsiveness ********************************/